@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background-color: #f8fafc;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

a {
  @apply text-primary-600 hover:text-primary-500 font-medium;
}

